#############################
# Genel
#############################
.DS_Store
Thumbs.db
.idea/
.vscode/
# .env
*.log

#############################
# Docker
#############################
**/docker-compose.override.yml
**/.dockerignore
**/Dockerfile.old
**/Dockerfile.bak

#############################
# Product API (.NET 8)
#############################
# Build çıktıları
services/product-api/src/bin/
services/product-api/src/obj/

# Kullanıcıya özel dosyalar
services/product-api/src/*.user
services/product-api/src/*.rsuser
services/product-api/src/*.suo
services/product-api/src/*.vsidx

# Visual Studio local caches
services/product-api/src/.vs/
services/product-api/src/.vs/**
services/product-api/src/.vs/**/*.db
services/product-api/src/.vs/**/*.db-shm
services/product-api/src/.vs/**/*.db-wal

# Paket yönetimi
services/product-api/src/packages/
*.snupkg
project.lock.json

#############################
# Order API (Go + Echo)
#############################
# Go build çıktıları
services/order-api/order
services/order-api/bin/
services/order-api/pkg/
services/order-api/dist/

# Mod cache
services/order-api/go.sum
services/order-api/vendor/

#############################
# Payment API (Node.js)
#############################
# Node bağımlılıkları
services/payment-api/node_modules/
services/payment-api/.npm/
services/payment-api/.yarn/
services/payment-api/package-lock.json
services/payment-api/npm-debug.log*
services/payment-api/yarn-error.log

#############################
# Visual Studio & Rider Caches
#############################
.vs/
**/.vs/
**/.vs/**
**/.vs/**/*.db
**/.vs/**/*.db-shm
**/.vs/**/*.db-wal

*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

# JetBrains Rider
.idea/
**/.idea/**
*.sln.iml
*.ipr
*.iws

#############################
# Logs & Temp
#############################
**/*.log
**/logs/
**/temp/
**/tmp/
*.pid
*.seed
*.tmp
*.temp
